.main{
    display: flex;
    flex-direction: row;
    /* height: 834px; */
    height: 100%;
    align-items: stretch;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding: 17px 20px 0 23px;
    width: max-content;
    border-right: 1px solid #1E2D3D;
}

.menu__section_img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.info{
    height: 244px;
    border-right: 1px solid #1E2D3D;
    width: 243px;
    height: 100%;
}
.infoPersonal{
    overflow: hidden;
    height: max-content;
    transition: 0.4s;
}
.infoContacts{
    overflow: hidden;
    height: max-content;
    transition: 0.4s;
}

.infoContacts__main{
    padding: 17px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.infoContacts__mainInfo{
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
}
.infoContacts__mainInfo_p{
    color: #607B96;
    font-family: "Fira Code";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.code{
    height: 100%;
    border-right: 1px solid #1E2D3D;
    width: 50%;
}
.codeTabs{
    height: 42px;
    border-bottom: 1px solid #1E2D3D;
}
.codeWindow{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 42px);
    padding: 18px 5% 18px 5%;
}
.codeWindow__pre{
    height: 200px;
}
.codeWindow::-webkit-scrollbar{
    background-color: #011627;
    border-left: 1px solid #1E2D3D;
    width: 26px;
}
.codeWindow::-webkit-scrollbar-thumb{
    width: 18px;
    height: 7px;
    background: #607B96;
}
.code__pre{
    font-family: monospace;
    white-space: pre;
}

/* ---------------------------------------------------------------------------------------------------------------*/
.chapter_arrow{
    margin-top: 7px;
    transition: 0.3s;
}
.chapter_open{
    transform: rotate(-90deg);
}
.folder__contacts{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}
.folder__contacts:hover .folder__text{
    color: #FFF;
}
.folder__contacts:hover .folder__contacts_icon path{
    fill: #FFF;
}
.folder__open{
    transform: rotate(90deg);
}
.folder__contacts_icon{
    width: 16px;
    height: 16px;
}
.folders{
    padding: 17px 10px 27px 16px;
    border-bottom: 1px solid #1E2D3D;
    display: flex;
    flex-direction: column;
    gap: 9px;
    overflow: hidden;
    transition: 0.4s;
}
.folder__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.folder__content:hover .folder__text{
    color: #FFF;
}
.folder__content_arrow{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.folder__content:hover .folder__arrow path{
    fill: #FFF;
}
.folder__content_wC{
    padding-bottom: 4px;
}
.folder__arrow{
    transition: 0.3s;
}
.folder__icon{
    width: 14.444px;
    height: 13px;
    margin-right: 9px;
}
.folder__text{
    color: #607B96;
    font-family: "Fira Code";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: 0.3s;
}
.folder__child{
    padding-left: 24px;
    height: max-content;
}
.folder__child_close{
    height: 0;
    display: none;
}
.folder__child__content{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding-top: 5px;
    cursor: pointer;
}
.folder__child__content:hover .folder__child__content_title{
    color: #FFF;
}
.folder__child__content_1stElement{
    padding-top: 9px;
}
.folder__child__content_icon{
    width: 16.222px;
    height: 14.6px;
}
.folder__child__content_title{
    color: #607B96;
    font-family: "Fira Code";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: 0.3s;
}
/* ---------------------------------------------------------------------------------------------------------*/
.second{
    width: calc(100% - 311px);
    display: flex;
    flex-direction: row;
}
.code__stroke{
    display: flex;
}
.code__stroke_number{
    width: 22px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    color: #607B96;
    text-align: right;
    font-family: "Fira Code";
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
}
.code__stroke_star{
    color: #607B96;
    font-family: "Fira Code";
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
    width: max-content;
}
.code__stroke_ls{
    display: flex;
    flex-direction: row;
}
.code__stroke_el{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #607B96;
    font-family: "Fira Code";
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
    text-wrap: wrap;
}
.git{
    width: 50%;
}
.gitWindow{
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 42px);
    padding: 18px 5% 18px 5%;
}
.gitWindow__title{
    color: #607B96;
    font-family: "Fira Code";
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin-bottom: 58px;
}
.gitWindow::-webkit-scrollbar{
    background-color: #011627;
    border-left: 1px solid #1E2D3D;
    width: 26px;
}
.gitWindow::-webkit-scrollbar-thumb{
    width: 18px;
    height: 7px;
    background: #607B96;
}
.gitTabs{
    width: 100%;
    height: 42px;
    border-bottom: 1px solid #1E2D3D;
}
.git__title{
    color: #607B96;
    font-family: "Fira Code";
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}


.chapter{
    display: flex;
    flex-direction: row;
    padding: 10px 14px;
    gap: 11px;
    border-bottom: 1px solid #1E2D3D;
    cursor: pointer;
}
.chapter_close{
    height: 42px;
    overflow: hidden;
    transition: 0.4s;
}
.chapterContent_close{
    /* height: 0; */
    /* padding: 0; */
    overflow: hidden;
    /* display: none; */
    transition: 0.4s;
}
.chapter_title{
    color: #FFF;
    font-family: "Fira Code";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
/* ==========================*/
.titles{
    font-size: 16px;
}
.gist-meta{
    display: none;
}
.snippet__articles{
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.codeTabs__tabs{
    height: 100%;
    width: 200px;
    padding: 10px 12px 10px 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #1E2D3D;
    cursor: pointer;
}
.codeTabs__tabs_text{
    color: #607B96;
    font-family: "Fira Code";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: 0.4s;
}
.codeTabs__tabs_img{
    width: 18px;
    height: 18px;
}
.codeTabs__tabs:hover .codeTabs__tabs_text{
    color: #FFF;
}
.codeTabs__tabs:hover .codeTabs__tabs_img path{
    fill: #FFF;
}
.title__amedia{
    display: none;
    color: #FFF;
    font-family: "Fira Code";
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: 140%; /* 19.6px */
    padding: 21px 0 29px 27px;
}
.second_amedia{
    display: flex;
    flex-direction: column;
    gap: 38px;
    display: none;
}
.second_amedia__firstPage{
    padding: 0 27px;
}
.second_amedia__firstPage_title{
    margin-bottom: 17px;
    color: #FFF;
    font-family: "Fira Code";
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 140%; /* 22.4px */
}
.second_amedia__firstPage_content{
    margin-bottom: 0px;
    color: #607B96;
    font-family: "Fira Code";
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%; /* 24px */
}

.windows{
    width: 100%;
    height: 200px;
    display: none;
}
.showWindow{
    display: block;
}
.closeWindow{
    display: none;
}
/* ==========================*/
@media screen and (max-width: 1500px){
    .code__stroke_number{
        font-size: 14px;
    }
    .gitWindow__title{
        font-size: 16px;
    }
    .code__stroke_el{
        font-size: 14px;
    }
    .code__stroke_star{
        font-size: 14px;
    }
    .git__title{
        font-size: 14px;
    }
    .codeWindow::-webkit-scrollbar{
        width: 20px;
    }
    .gitWindow::-webkit-scrollbar{
        width: 20px;
    }
}

@media screen and (max-width: 1200px){
    .chapter{
        height: 35px;
    }
    .gitWindow__title{
        font-size: 14px;
    }
    .infoContacts__title{
        height: 35px;
    }
    .chapter_close{
        height: 35px;
    }
    .code__stroke_number{
        font-size: 12px;
    }
    .code__stroke_el{
        font-size: 12px;
    }
    .code__stroke_star{
        font-size: 12px;
    }
    .git__title{
        font-size: 12px;
    }
    .titles{
        font-size: 14px;
    }
    .infoPersonal__mainInfo_title{
        font-size: 14px;
    }
    
    /* .menu{
        padding: 17px 15px 0 ;
    } */
    .codeWindow{
        height: calc(100% - 35px);
    }
    .codeTabs{
        height: 35px;
    }
    .gitWindow{
        height: calc(100% - 35px);
    }
    .gitTabs{
        height: 35px;
    }
    /* .infoPersonal__title{
        height: 35px;
    } */
    .infoContacts__mainInfo_p{
        font-size: 14px;
    }
}
@media screen and (max-width: 980px){
    .gitWindow{
        padding: 18px 2%;
    }
    .codeWindow{
        padding: 18px 2%;
    }
}
@media screen and (max-width: 945px){
    .menu{
        display: none;
    }
    .second{
        display: none;
    }
    .second_amedia{
        display: flex;
    }
    .title__amedia{
        display: block;
    }
    .main{
        flex-direction: column;
        justify-content: flex-start;
    }
    .info{
        border: none;
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-bottom: 38px;
    }
    .chapter{
        background: #1E2D3D;
    }
    .folders{
        border: none;
        padding-left: 27px;
    }
    .codeTabs{
        display: none;
    }
    .gitTabs{
        display: none;
    }
}