.snippet{
    padding: 5px;
}
.snippet__info{
    display: flex;
    flex-direction: row;
}
.snippet__info_profile{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.snippet__info_profile_info{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.snippet__info_profile_info_nickName{
    color: #5565E8;
    font-family: "Fira Code";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.snippet__info_profile_info_data{
    color: #607B96;
    font-family: "Fira Code";
    font-size: 12px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}
.snippet__info_profile_picture{
    width: 36px;
    height: 36px;
}
.snippet__info_profile_img{
    width: 100%;
    border-radius: 50%;
}
.snippet__info_about{
    display: flex;
    flex-direction: row;
    gap: 17px;
}
.snippet__info_about_div{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.snippet__info_about_div_img{
    width: 18px;
    height: 18px;
}
.snippet__info_about_div_p{
    color: #607B96;
    text-align: right;
    font-family: "Fira Code";
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}